
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(to right, #fff 50%, #ffefd5 100%);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 10000111;
}

header .logo img {
    flex: 1;
    width: 70px;
    height: 70px;
    object-fit: contain;
    position: relative;
    cursor: pointer;
}

header nav a {
    margin: 0 1rem;
    font-weight: 500;
}

nav {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffef;
}

.nav-links {
    flex: 1;
    flex-direction: row;
}

nav .hamburger {
    display: none;
}

.nav-links .menu {
    list-style-type: none;
    justify-content: right;
    align-items: center;
    display: flex;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.nav-links ul li {
    position: relative;
}

.nav-links a {
    line-height: 3rem;
    color: #000000;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.nav-links a i{
    margin-left: .2rem;
    transform: rotate(-180deg);
}

.nav-links li:hover a i{
    margin-left: .2rem;
    transform: rotate(360deg);
}

.nav-links a:hover {
    color: #f6b01e;
}

.dropdown {
    position: absolute !important;
    top: 145%;
    left: -180px;
    width: 35rem;
    transform: translateY(10px);
    /* opacity: 0; */
    transition: .01s;
    pointer-events: auto;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px 30px 10px 10px;
    border: 2px solid red;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10001;
}

.dropdown .dropImage {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.dropdown .dropImage img {
    width: auto;
    height: 7rem;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

.dropdown .dropImage span {
    font-size: 14px;
}

.dropdown ul li {
    list-style: none;
}

.nav-links .menu li .dropdown ul li a {
    display: flex;
    color: black;
    padding: 0px 3rem 0 0;
    font-size: 13px;
    align-items: center;
    text-decoration: none;
    justify-content: flex-start;
    transition: .01s;
}

.nav-links .menu li .dropdown ul li .dropTop {
    color: #bd0909;
    font-size: 17px;
    font-weight: 700;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.headBtn {
    display: flex;
    align-items: center;
    background: #135c3f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    transition: background 0.3s;
    text-decoration: none;
    gap: 0.5rem;
}

.headBtn:hover {
    background: #0f4d34;
}

header .hamburger {
    display: none;
}

#mobileHeadBtnWrapper {
  display: block;
}


.menu-toggle {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 9999;
  display: none;
}

.menu-toggle i {
  font-size: 28px;
  color: #204F3D;
  cursor: pointer;
  display: none;
}




/* head-Top */
.head-Top {
    text-align: center;
    padding: 80px 20px 40px;
    background: linear-gradient(to right, #fff 50%, #ffefd5 100%);
    min-height: 90vh;
    width: 100%;
    height: 90vh;
}

.head-Top h1 {
    font-family: 'Merriweather', serif;
    font-size: 3.2rem;
    font-weight: 600;
    color: #204F3D;
}

.head-Top span.highlight {
    font-family: 'Pacifico', serif;
    font-weight: 100;
}

.head-Top p {
    margin: 0 0 20px 0;
    font-size: 2rem;
    color: #1C1C1C;
    font-weight: 500;
}

.headerBtns {
    display: flex;
    font-family: 'Outfit', serif;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.headerBtns .headerBtn {
    display: flex;
    align-items: center;
    background: #204F3D;
    color: #fff;
    padding: 10px 20px;
    margin-top: 30px;
    width: fit-content;
    border-radius: 30px;
    transition: background 0.3s;
    gap: 10px;
    text-decoration: none;
}

.headerBtns .headerBtn2 {
    display: flex;
    align-items: center;
    background: transparent;
    color: #204F3D;
    padding: 10px 20px;
    margin-top: 30px;
    border: 1px solid;
    width: fit-content;
    border-radius: 30px;
    transition: background 0.3s;
    gap: 10px;
}

.headerBtn2:hover {
    background: #204F3D;
    color: #fff;
}

/* Quote Section */
.quote-section {
    background: linear-gradient(to right, #fff 50%, #ffefd5 100%);
    color: white;
    padding: 50px 64px 10px 64px;
}

.quote-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background: #A1381B;
    width: 100%;
    padding: 40px 90px;
    border-radius: 30px;
    flex-direction: column;
}

.quote-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.quote-text .quote {
    background-color: #00000024;
    border-radius: 10px;
    padding: 20px;
}

.quote-text blockquote {
    font-family: 'Urbanist', serif;
    font-size: 1.3rem;
    color: #FDE2C5;
    font-weight: 500;
    max-width: 500px;
    padding-bottom: 10px;
}

.quote-author {
    font-weight: 500;
    opacity: 0.85;
}

.quote-metrics {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.metric-box {
    color: #822f1c;
    padding: 10px 15px;
    text-align: center;
    min-width: 100px;
    flex: 1;
}

.b1 {
    border-right: 1px solid;
}

.b2 {
    border-right: 1px solid;
}

.metric-box h2 {
    font-family: 'Pacifico', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #204F3D;
}

.metric-box p {
    font-size: 14px;
    font-family: 'Urbanist', serif;
    font-weight: 400;
    color: #000000;
}

.sponsors {
    margin: 40px 0 0 30px;
}

.sponsors span {
    font-family: 'Outfit', serif;
    font-size: 12px;
    font-weight: 400;
}

.sponsors p {
    font-family: 'Outfit', serif;
    font-size: 14px;
    font-weight: 400;
}

/* Featured Stories */
.featured {
    background: linear-gradient(to right, #fff 50%, #ffefd5 100%);
    padding: 10px 64px;
}

.contains {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
}

.cards {
    flex-basis: 20%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.cards img {
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.cards::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.cards:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.cards:hover img {
    transform: scale(1.05);
}

.card {
    flex-basis: 80%;
    background: #204F3D;
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
    flex: 1;
    min-width: 300px;
}

.card-content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.card-content2 .lefts .left-text {
    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 24px;
}

.card-content2 .lefts .left-text2 {
    color: #ffffff;
    font-family: 'Pacifico', serif;
    font-size: 24px;
}

.card-content2 .rights p {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: 'Urbanist', serif;
    font-Size: 14px;
    color: #099433;
    border: 1px solid;
    background-color: #ffffff;
    height: auto;
    padding: 10px;
    border-radius: 40px;
}

.card-content {
    padding: 30px 20px 30px 60px;
    background: #ffffff;
    border-radius: 10px;
}

.card-content .writer h2 {
    margin-bottom: 10px;
    color: #204F3D;
    font-size: 24.84px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
}

.card-content .writer span {
    font-family: 'Urbanist', serif;
    font-size: 18px;
    color: #414141;
}

.cards2 {
    flex-basis: 30%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.cards2 img {
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.cards2::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.cards2:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.cards2:hover img {
    transform: scale(1.05);
}

.card2 {
    flex-basis: 70%;
    background: #A1381B;
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
    flex: 1;
    min-width: 300px;
}

.cards3 {
    flex-basis: 30%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.cards3 img {
    justify-self: flex-end;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.cards3::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.cards3:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.cards3:hover img {
    transform: scale(1.05);
}

.cards3 iframe {
    justify-self: flex-start;
    border-radius: 25px;
}

.card3 {
    flex-basis: 70%;
    background: #f3ca9a;
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
    flex: 1;
    min-width: 300px;
}

.card3 .lefts .left-text {
    color: #000000;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 24px;
}

.card3 .lefts .left-text2 {
    color: #000000;
    font-family: 'Pacifico', serif;
    font-size: 24px;
}

.card3 .writer3 ol {
    margin-left: 20px;
}

.card3 .writer3 h3 {
    font-size: 19px;
    font-weight: 600;
    font-family: 'Urbanist', serif;
    margin-left: 10px;
}

.card3 .writer3 ol p {
    font-size: 19px;
    font-weight: 400;
    font-family: 'Urbanist', serif;
    margin-left: 10px;
}

.card3 .writer3 ol li {
    margin-bottom: 15px;
}

.card4 {
    flex-basis: 70%;
    background: #ffffff;
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
    flex: 1;
    min-width: 300px;
}

.cards4 {
    flex-basis: 30%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.cards4 img {
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.cards4::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.cards4:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.cards4:hover img {
    transform: scale(1.05);
}

.card4 .lefts .left-text {
    color: #000000;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 24px;
}

.card4 .lefts .left-text2 {
    color: #000000;
    font-family: 'Pacifico', serif;
    font-size: 24px;
}

.card5 {
    flex-basis: 70%;
    background: #104C35;
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
    flex: 1;
    min-width: 300px;
}

.cards5 {
    flex-basis: 30%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.cards5 img {
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.cards5::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.cards5:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.cards5:hover img {
    transform: scale(1.05);
}

.card6 {
    flex-basis: 100%;
    background: #204F3D;
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
}

.card-content6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.card-content2 .right .states {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Urbanist', serif;
    margin-top: 30px; 
    margin-bottom: 20px;
    font-weight: 500;
}

.right input[type="email"] {
    padding: 10px;
    border-radius: 17px;
    border: none;
    margin-right: 10px;
    width: 250px;
    background: #446f5e;
    color: #ffffff;
}

.right input::placeholder {
    color: #ffffff;
    opacity: 1;
    font-family: 'Urbanist', serif;
    font-size: 15px;
    font-weight: 500;
}

.right button {
    font-family: 'Urbanist', serif;
    padding: 10px 20px;
    background: transparent;
    color: #ffffff;
    border: 1px solid;
    border-radius: 17px;
    cursor: pointer;
}

/* Footer */
.features {
    background: linear-gradient(to right, #fff 50%, #ffefd5 100%);
    padding: 10px 30px 0px 30px;
    margin: 40px 40px 60px 40px;
}

.features .logo img {
    flex: 1;
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: relative;
    cursor: pointer;
}

.features .footer-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.football {
    display: flex;
    align-items: center;
    flex-basis: 60%;
    justify-content: space-between;
}

.features .footer-cont .centers {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.features .footer-cont .centers .footer-top {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.features .footer-cont .centers p {
    color: #204F3D;
    font-size: 14px;
}

.footer-cont .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 40%;
}

.icons {
    align-items: flex-end;
    align-content: flex-end;
}

.icons p {
    text-align: right;
}

.icons .fa {
    color: #204F3D;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 20px;
}

.right .icon-Text {
    color: #204F3D;
    font-family: 'Urbanist', serif;
    font-size: 14px;
    font-weight: 600;
}

.icons i:hover {
    color: #1e8f66;
}

/* ABOUT US SECTION */
.about-container {
    display: flex;
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    margin-top: 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.featured .about-contains {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
}

.about-contains .about-cards {
    flex: 1;
    min-width: 300px;
}

.about-contains .about-card {
    flex-basis: 35%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.about-contains .about-card img {
    justify-self: flex-end;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.about-contains .about-card::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.about-contains .about-card:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.about-contains .about-card:hover img {
    transform: scale(1.05);
}

.about-container h1 {
    font-family: 'Pacifico', serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 15px;
    color: #204F3D;
}

.about-container p {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 24px;
}

.about-contains .about-cards h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}

.about-contains .about-cards h1 span {
    font-family: 'Pacifico', serif;
    font-weight: 100;
    font-size: 40px;
}

.about-contains .about-cards p.italics {
    font-family: 'Urbanist', serif;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    color: #818181;
    margin: 20px 0;
}

.about-contains .about-cards .normal {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 20px;
}

.about-contains .about-cards2 {
    flex-basis: 50%;
    background: #204F3D;
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
}

.about-contains .about-card2 {
    flex-basis: 50%;
    background: #A1381B;
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
}

.about-contains3 p,
.about-contains3 h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.about-contains3 .italise {
    margin-top: 50px;
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 18px;
}

.about-contains3 .about-cards3 h2 span {
    font-family: 'Pacifico', serif;
    font-weight: 100;
    font-size: 26px;
    color: #ffffff;
    padding: 0 6px;
}

.about-contains3 .about-card3 h2 span {
    font-family: 'Pacifico', serif;
    font-weight: 100;
    font-size: 26px;
    color: #ffffff;
}

.featured .about-contains3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    max-width: 1100px;
    margin: auto;
}

.about-contains3 .about-cards3 {
    flex-basis: 35%;
    background: #204F3D;
    border-radius: 25px;
    padding: 60px 60px 60px 40px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.about-contains3 .about-card3 {
    flex-basis: 35%;
    background: #A1381B;
    border-radius: 25px;
    padding: 60px 60px 60px 40px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-content2 .about-cards3 h2 span {
    font-family: 'Pacifico', serif;
    font-weight: 100;
    font-size: 26px;
}

.card-content2 h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.about-contains4 {
    max-width: 1600px;
    margin: 0 auto;
}

.about-contains4 .about-cards4 {
    /* text-align: center; */
    margin-bottom: 40px;
}

.about-contains4 .about-cards4 h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.about-contains4 .about-cards4 h1 span {
    font-family: 'Pacifico', serif;
    font-weight: 100;
    font-size: 40px;
    padding: 0 5px;
}

.about-contains4 .about-cards4 p {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 75px;
}

.Pic-Court {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 0.25fr)); */
    gap: 50px;
}

.Pic-Court .pic {
    background-color: #fff2e5;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
    cursor: pointer;
    width: fit-content;
}

.pic:hover {
    transform: translateY(-5px);
}

.Pic-Court .pic .picture img {
    display: block;
    width: auto;
    height: 310px;
    object-fit: contain;
    position: relative;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.Pic-Court .pic .pic-text {
    text-align: center;
    border-radius: 0 0 10px 10px;
    background-color: #FFF0DF;
    width: 100%;
    padding: 40px;
    margin-top: -10px;
}

.Pic-Court .pic .pic-text h2 {
    font-family: 'Urbanist', serif;
    font-weight: 700;
    font-size: 18px;
    color: #204F3D;
    margin-bottom: 5px;
}

.Pic-Court .pic .pic-text span {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 16px;
    color: #414141;
}

.headerBtns img {
    width: 100%;
    border-radius: 22px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.7);
    transition: transform 0.3s ease;
}

.headerBtns img:hover {
    transform: translateY(-5px);
}

.about-card img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
}

/* Section: Objectives */

.cards3 iframe {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Courses section */
.course-head-Top {
    background: linear-gradient(to right, #fff 50%, #ffefd5 100%);
    padding: 4rem 1rem;
    text-align: center;
    font-family: 'Urbanist', serif;
}

.course-head-Top p {
    font-size: 1.2rem;
    margin: 1rem auto 2rem;
    max-width: 700px;
    color: #222;
}

.course-Court {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 55px;
}

.course-pic {
    background-color: #fff2e5;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.course-pic:hover {
    transform: translateY(-5px);
}

.course-picture img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    border-radius: 20px;
}

.course-pic-text {
    padding: 1rem;
    text-align: center;
}

.course-pic-text h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #204F3D;
}

.course-pic-text span {
    font-size: 0.9rem;
    font-weight: 500;
    color: #414141;
}

.carousel-item .mx-auto {
    background: #f3ca9a;
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
    flex: 1;
    min-width: 300px;
}

/* COMPITITION SECTION */
.com-head-Top {
    text-align: center;
    padding: 80px 20px 40px;
    background: linear-gradient(to right, #fff 50%, #ffefd5 100%);
    min-height: 90vh;
    width: 100%;
    margin-bottom: 30px;
}

.com-about {
    display: flex;
    gap: 30px;
    margin-top: 100px;
    max-width: 800px;
}

.com-about .com-text {
    text-align: center;
    border-radius: 15px;
    background-color: #FDE2C5;
    width: 100%;
    padding: 40px 60px;
}

.com-about .com-text h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 25px;
    color: #A1381B;
    margin-bottom: 30px;
}

.com-about .com-text h1 span {
    font-family: 'Pacifico', serif;
    font-weight: 500;
}

.com-about .com-text p {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 21px;
    color: #A1381B;
}

.featured .base {
    margin-bottom: 30px;
    background: url('images/Rectangle 33.png') no-repeat center center;
    background-size: 100%;
    padding: 60px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: background-size 0.5s ease;
}

.featured .base::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 25px;
    /* z-index: 1; */
}

.featured .base:hover {
    background-size: 110%;
}

.featured .base:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.base .innerBase {
    display: flex;
    background: #EC653847;
    backdrop-filter: blur(14px);
    width: 638px;
    color: #FFFFFF;
    padding: 40px 0 30px 50px;
    border-radius: 15px;
    gap: 1rem;
    flex-direction: column;
    z-index: 1000111;
}

.base .innerBase h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

.base .innerBase h2 span {
    font-family: 'Pacifico', serif;
    font-weight: 500;
}

.base .innerBase p {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 19px;
}

/* COMMUNITY SECTION */
.headerImg {
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.headerImg img {
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.headerImg::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.headerImg:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.headerImg:hover img {
    transform: scale(1.05);
}

.featured .comm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    max-width: 1100px;
    margin: auto;
}

.comm .comm-cards3 {
    flex: 1;
    min-width: 300px;
}

.comm .comm-card3 {
    flex: 1;
    min-width: 300px;
    color: #000000;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.comm .comm-card3 img {
    width: 60%;
    height: 90%;
    justify-self: flex-end;
    object-fit: cover;
    transition: transform 0.5s ease;
}

/* .comm .comm-card3::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.comm .comm-card3:hover::after {
    background: rgba(0, 0, 0, 0.3);
} */

.comm .comm-card3:hover img {
    transform: scale(1.05);
}

.comm h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}

.comm .comm-cards3 h1 span {
    font-family: 'Pacifico', serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 15px;
}

.comm p {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.comm .comm-cards3 span {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 19px;
}

.featured .based {
    margin-bottom: 30px;
    background: url('images/Rectangle\ 34\ \(1\).png') no-repeat;
    background-size: 100%;
    padding: 60px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: background-size 0.5s ease;
}

.featured .based::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 25px;
    /* z-index: 1; */
}

.featured .based:hover {
    background-size: 110%;
}

.featured .based:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.based .innerBase {
    display: flex;
    background: #EC653847;
    backdrop-filter: blur(14px);
    width: 638px;
    color: #FFFFFF;
    padding: 40px 0 30px 50px;
    border-radius: 15px;
    gap: 1rem;
    flex-direction: column;
    z-index: 100111;
}

.based .innerBase h2 {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
}

.based .innerBase h2 span {
    font-family: 'Pacifico', serif;
    font-weight: 500;
}

.based .innerBase p {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 19px;
}

.featured .bases {
    margin-bottom: 30px;
    background: url('images/Rectangle\ 35.png') no-repeat;
    background-size: 100%;
    padding: 60px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: background-size 0.5s ease;
}

.featured .bases::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 25px;
    /* z-index: 1; */
}

.featured .bases:hover {
    background-size: 110%;
}

.featured .bases:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.bases .innerBase {
    display: flex;
    background: #204F3D9C;
    backdrop-filter: blur(14px);
    width: 638px;
    color: #FFFFFF;
    padding: 40px 0 30px 50px;
    border-radius: 15px;
    gap: 1rem;
    flex-direction: column;
    z-index: 100111;
}

.bases .innerBase h2 {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
}

.bases .innerBase h2 span {
    font-family: 'Pacifico', serif;
    font-weight: 500;
}

.bases .innerBase p {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 19px;
}

/* CONTACT */
.cards33 {
    flex-basis: 37%;
    flex-grow: 0;
    flex-shrink: 0;
}

.card33 {
    flex-basis: 59%;
    flex-grow: 0;
    flex-shrink: 0;
}

.checks h2 {
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #69220E;
}

.cardo {
    background: #FFF0DF;
    backdrop-filter: blur(14px);
    border-radius: 25px;
    padding: 20px 60px 20px 80px;
}

.writer4 ol li {
    margin-bottom: 10px;
}

.cards33 .notes {
    font-family: 'Urbanist', serif;
    background: #FFDCB5;
    border-radius: 15px;
    padding: 25px;
    color: #C23000;
    font-size: 14px;
    font-weight: 400;
}

.bio {
    margin-bottom: 20px;
}

.bio h5 {
    font-family: 'Urbanist', serif;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #414141;
}

.bio h5 span,
.bio h4 span {
    color: red;
}

.bio input,
.bio select,
.bio textarea {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    background-color: #ffffff;
    resize: none;
    font-family: inherit;
    box-sizing: border-box;
}

.bio select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="12" viewBox="0 0 24 24" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.bio textarea {
    height: 120px;
}

.submit-btn {
    display: flex;
    margin: 20px auto 0;
    background-color: #204F3D;
    color: #ffffff;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: .7rem;
    align-items: center;
}

.submit-btn:hover {
    background-color: #093c30;
}

form .notes {
    display: flex;
    font-family: 'Urbanist', serif;
    background: #E2FFF4;
    padding: 15px 25px;
    color: #000000;
    width: fit-content;
    border-radius: 70px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
}

/* WRITING SIDE */
.write-head-Top {
    text-align: center;
    padding: 80px 20px 40px;
    background: linear-gradient(to right, #fff 50%, #ffefd5 100%);
    width: 100%;
    margin-bottom: 90px;
}

.bios {
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    font-size: 16px;
    font-family: 'Urbanist', serif;
    color: #414141;
    margin-bottom: 65px;
}

.loads {
    text-align: left;
}

.loads h5 {
    margin-bottom: 10px;
    font-family: 'Urbanist', serif;
    font-size: 14px;
    font-weight: 500;
    color: #414141;
}

.upload-btn {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 30px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-btn:hover {
    background-color: #f9f9f9;
}

.upload-btn i {
    margin-left: 5px;
}

input[type="file"] {
    display: none;
}

/* WORKSHOP SECTION */
.bg-white {
    cursor: pointer;
}

.p-4 {
    text-align: center;
}

.p-4 .font-bold {
    font-weight: 700;
    font-family: 'Urbanist', serif;
    color: #204F3D;
}

.p-4 .text-sm {
    line-height: 18.82px;
    color: #000000 !important;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Urbanist', serif;
}

.h-autos {
    height: 30vh !important;
}

.cart-btn {
    background-color: #204F3D !important;
    color: #ffffff !important;
}

/* BOOK DETAILS */
.contd {
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.contd:hover {
    transform: translateY(-5px);
}

.cards44 {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
}

.card44 {
    flex-basis: 67%;
    flex-grow: 0;
    flex-shrink: 0;
}

.cardo44 {
    background: #FFF0DF;
    backdrop-filter: blur(14px);
    border-radius: 25px;
    padding: 30px 50px;
}

.back-btn {
    display: block;
    background-color: #204F3D;
    color: #ffffff;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.p44 {
    text-align: left;
}

.mot-55 {
    margin-top: 3rem !important;
}

.payCard {
    font-family: 'Urbanist', serif;
    padding: 40px 30px;
    background-color: #204F3D;
    border-radius: 20px;
    color: #FFFFFF;
}

.payCard h4 {
    font-size: 18px;
    font-weight: 700;
}

.payCard p {
    font-size: 14px;
    font-weight: 400;
}

.payCard .acct {
    font-size: 16px;
    font-weight: 700;
}

.payCard span {
    font-size: 12px;
    font-weight: 400;
}

.payCard .account {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.account .copy .copyDetails {
    display: flex;
    background-color: #BEFFE6;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: #204F3D;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Urbanist', serif;
    align-items: center;
    gap: 0.3rem;
}

/* Full Course List */
.full-autos {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    border-radius: 20px;
}

.full-white {
    background-color: #fff2e5;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.full-4 {
    height: 22vh !important;
    overflow: hidden;
}

.featured .keys {
    margin-bottom: 30px;
    background: url('images/Rectangle\ 189.png') no-repeat;
    background-size: 100%;
    padding: 60px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: background-size 0.5s ease;
}

.featured .keys::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 25px;
    /* z-index: 1; */
}

.featured .keys:hover {
    background-size: 110%;
}

.featured .keys:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.keys .innerBase {
    display: flex;
    background: #00000061;
    backdrop-filter: blur(10px);
    width: 638px;
    color: #FFFFFF;
    padding: 40px 0 30px 50px;
    border-radius: 15px;
    gap: 1rem;
    flex-direction: column;
    z-index: 100111;
}

.keys .innerBase h2 {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
}

.keys .innerBase h2 span {
    font-family: 'Pacifico', serif;
    font-weight: 500;
}

.keys .innerBase p {
    font-family: 'Urbanist', serif;
    font-weight: 500;
    font-size: 19px;
}

@media screen and (max-width: 1565px) {
    .cardo44 {
        background: #FFF0DF;
        backdrop-filter: blur(14px);
        border-radius: 25px;
        padding: 30px;
    }

    .card44 {
        flex-basis: 65%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .cards44 {
        flex-basis: 30%;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 95%;
        padding: 0 20px;
    }

    header {
        padding: 0.5rem 1rem;
    }

    nav {
        padding: 0;
    }

    .headBtn {
        padding: 6px 10px;
    }

    .head-Top {
        min-height: 80vh;
        height: 80vh;
    }

    .head-Top h1 {
        font-size: 3rem;
    }

    .head-Top p {
        font-size: 1.8rem;
    }

    #mobileHeadBtnWrapper span {
        display: none;
    }

    .quote-section {
        padding: 10px 35px;
    }

    .quote-content {
        padding: 20px 40px;
    }

    .quote-text {
        flex-direction: column;
        gap: 25px;
    }

    .quote-text .quote,
    .quote-text .quote-metrics {
        width: 100%;
        padding: 15px;
    }

    .quote-text blockquote {
        font-size: 1.1rem;
    }

    .sponsors {
        margin: 20px 0 0 30px;
    }

    .featured {
        padding: 20px 40px !important;
    }

    .abouts {
        margin-bottom: 40px !important;
    }

    .featured .about-contains {
        margin-top: 75px;
    }

    .about-cards4 {
        margin-bottom: 0px;
    }

    .about-contains4 .about-cards4 p {
        margin-bottom: 5px;
    }

    .contains {
        gap: 25px;
        flex-direction: row;
    }

    .cards,
    .cards2,
    .cards3,
    .cards4,
    .cards5 {
        flex-basis: 30% !important;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .cards img,
    .cards2 img,
    .cards3 iframe,
    .cards4 img,
    .cards5 img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .card,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        width: 100%;
        padding: 20px 30px;
    }

    .card-content2 {
        flex-direction: row;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 15px;
        padding: 0;
    }

    .card-content2 .lefts .left-text,
    .card-content2 .lefts .left-text2 {
        font-size: 20px;
    }

    .card-content2 .rights p {
        gap: 5px;
        font-Size: 12px;
        padding: 8px;
    }

    .card-content2 .turns {
        margin-bottom: 5px !important;
    }

    .maintainer .prop {
        font-size: 15px !important;
        margin-bottom: 0 !important;
    }

    .maintainer .proper {
        font-size: 16px !important;
        margin-bottom: 15px !important;
    }

    .card-content {
        padding: 20px;
    }

    .card-content .writer h2 {
        font-size: 20px;
    }

    .card-content .writer span {
        font-size: 18px;
    }

    .card-content .writer h3 {
        font-size: 15px !important;
    }   

    .card-content .writer .pencils p {
        font-size: 16px !important;
        margin-bottom: 15px !important;
    }

    .Pic-Court .pic .picture img {
        height: 233px;
    }

    .Pic-Court .pic .pic-text {
        padding: 15px;
        margin-top: 0px;
    }

    .pens {
        margin-bottom: 30px !important;
    }

    .thirds {
        margin-bottom: 25px !important;
    }

    .thirds p {
        font-size: 16px !important;
    }

    .card3 .writer3 ol {
        margin-left: 10px;
    }

    .card3 .writer3 ol li {
        margin-bottom: 10px;
    }

    .card3 .writer3 h3 {
        font-size: 18px;
    }

    .card3 .writer3 ol p {
        font-size: 16px;
    }

    .card4 .card-content2 .lefts {
        margin-bottom: 20px !important;
    }

    .closer .prop {
        font-size: 20px !important;
        margin-bottom: 0 !important;
    }

    .closer .prosper {
        font-size: 16px !important;
        margin-bottom: 20px !important;
    }

    .card5 .card-content2 .lefts {
        margin-bottom: 0px !important;
    }

    .card6 .card-content2 .lefts .prop {
        font-size: 16px !important;
    }

    .course-head-Top {
        padding: 4rem 1rem 0 1rem;
    }

    .featured .grace {
        margin-top: 20px !important;
    }

    .courses {
        margin-top: 50px !important;
    }

    /* ABOUT US */
    .headerBtns img {
        width: 90%;
    }

    .about-contains .about-cards {
        padding: 0 30px;
    }

    .about-contains .about-cards h1 {
        font-size: 38px !important;
    }

    .about-contains .about-cards p.italics,
    .about-contains .about-cards .normal {
        font-size: 18px !important;
    }

    .featured .about-contains3 {
        gap: 40px;
    }

    .about-contains3 .about-cards3,
    .about-contains3 .about-card3 {
        padding: 30px 30px 30px 30px;
    }

    .about-contains3 .italise {
        margin-top: 35px;
    }

    .card-content2 h2 {
        font-size: 1.6rem;
        margin-bottom: 0;
    }

    .about-croper writer p {
        font-size: 16px !important;
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .comm p {
        font-size: 20px;
    }

    .featured .keys {
        padding: 0px !important;
    }

    .keys .innerBase {
        padding: 20px 0 20px 40px !important;
    }

    .keys .innerBase h2, 
    .base .innerBase h2,
    .based .innerBase h2,
    .bases .innerBase h2 {
        font-size: 20px !important;
    }

    .keys .innerBase p,
    .base .innerBase p,
    .based .innerBase p,
    .bases .innerBase p {
        font-size: 16px !important;
    }

    .keys .innerBase span,
    .base .innerBase span,
    .based .innerBase span,
    .bases .innerBase span {
        font-size: 20.95px !important;
    }

    .comple {
        padding: 20px 35px !important;
    }

    .contd {
        padding: 25px !important;
        gap: 20px !important;
    }

    .cardo44 {
        padding: 30px 20px;
    }

    .featured .base {
        padding: 0px !important;
    }

    .base .innerBase {
        padding: 20px 0 20px 40px !important;
    }

    .featured .based {
        padding: 0px !important;
    }

    .based .innerBase {
        padding: 20px 0 20px 40px !important;
    }

    .writer p {
        font-size: 16px !important;
    }

    .featured .bases {
        padding: 0 !important;
    }

    .bases .innerBase {
        padding: 20px 0 20px 40px !important;
    }

    .cardo {
        padding: 20px 30px 20px 40px;
    }

    .footer-cont {
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
    }

    .football {
        gap: 10rem;
    }

    .footer-cont .logo img {
        width: 80px;
    }

    .features .footer-cont .centers {
        gap: 0.5rem;
    }

    .footer-top {
        flex-wrap: wrap;
        gap: 1rem !important;
    }

    .features {
        margin: 20px;
        padding: 20px;
    }

    .footer-cont .right {
        align-items: flex-end;
    }
}

@media screen and (max-width: 985px) {
    .head-Top {
        min-height: 70vh;
        height: 70vh;
    }

    .container {
        width: 95%;
        padding: 0 20px;
        margin-top: 0;
    }

    .head-Top h1 {
        font-size: 2.2rem;
    }

    .head-Top p {
        margin-top: 30px;
        font-size: 1.5rem;
    }

    header {
        padding: 0.5rem 1rem;
    }

    nav {
        padding: 0;
    }

    .nav-links a {
        padding: 0;
        font-size: .85rem;
    }

    .headBtn {
        padding: 6px 10px;
        font-size: .85rem;
    }

    header nav a {
        margin: 0 0.6rem;
        font-weight: 500;
    }

    #mobileHeadBtnWrapper span {
        display: none;
    }

    .quote-content {
        padding: 30px 50px;
    }

    .card,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        padding: 20px 25px 20px 25px;
    }

    .cards,
    .cards2,
    .cards3,
    .cards4,
    .cards5 {
        flex-basis: 40% !important;
    }
    
    .card-content2 .rights p {
        gap: 3px;
        font-Size: 12px;
        padding: 4px;
    }

    .pencils p {
        font-size: 16px !important;;
    }

    .featured {
        padding: 10px 30px;
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .keys .innerBase,
    .base .innerBase,
    .based .innerBase,
    .bases .innerBase {
        width: 100%;
    }

    .contd {
        flex-direction: column;
    }

    .footer-cont .logo img {
        width: 70px;
    }

    .features .footer-cont {
        flex-direction: row;
        gap: 20px;
    }

    .ops p {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
        flex-direction: column;
        padding: 0.4rem 1.5rem;
        align-items: flex-start;
        position: fixed;
        background: #ffffff;
        box-shadow: none;
    }

    header nav {
        width: 100%;
        justify-content: space-between;
        padding: 0;
        background-color: transparent;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-top: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links .menu {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .nav-links .menu li {
        width: 100%;
    }

    .nav-links .menu li a {
        padding: 10px 0;
        width: 95%;
        font-size: 1rem;
        border-bottom: 1px solid #eee;
    }

    .dropdown {
        position: relative !important;
        width: 100%;
        left: 0;
        top: auto;
        /* padding: 20px; */
        border: none;
        box-shadow: none;
    }

    .dropdown .dropImage img {
        height: auto;
        width: 80%;
    }

    li a span {
        display: none !important;  
    }

    .headBtn {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .container,
    .contains {
        max-width: 100% !important;
        width: 100% !important;
        /* padding: 0 16px; */
        margin-top: 10px !important;
    }

    .head-Top {
        padding: 20px 16px !important;
        margin-top: 120px;
        height: 50vh;
        min-height: 50vh;
    }

    #mobileHeadBtnWrapper {
        display: none;
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }

    .head-Top h1 {
        font-size: 2rem;
    }

    .head-Top p {
        margin-top: 15px;
        font-size: 1.1rem;
    }

    .headerBtns {
        gap: 0px;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
    }

    .headerBtns .headerBtn2 {
        margin-top: 10px;
    }

    #mobileHeadBtnWrapper.active {
        display: block;
    }

    .headBtn {
        justify-content: center;
        width: auto;
    }

    .menu-toggle {
        display: block;
    }

    #openMenu {
        display: block;
    }

    #closeMenu {
        display: none;
    }

    .nav-links.active ~ .menu-toggle #openMenu {
        display: none;
    }

    .nav-links.active ~ .menu-toggle #closeMenu {
        display: block;
    }

    .quote-section {
        margin-top: 60px;
        padding: 10px 15px
    }

    .quote-content {
        padding: 25px;
        margin-top: 155px;
    }

    .featured {
        margin-top: 0px;
        padding: 20px 15px !important;
    }

    .cards, .cards2, .cards3, .cards4, .cards5 {
        flex-basis: 100% !important;
    }

    .card-content2 {
        gap: 5px;
        flex-direction: column;
    }

    .card-content2 .lefts .left-text, .card-content2 .lefts .left-text2 {
        font-size: 18px;
    }

    .card-content2 .rights span {
        font-size: 12px !important;
    }

    .closer .prop {
        font-size: 18px !important;
    }

    .card6 .card-content2 .lefts .prop {
        font-size: 16px !important;
        margin-bottom: 0 !important;
    }

    .right form {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .right input[type="email"] {
        width: 100%;
        margin-right: 0px;
    }

    footer {
        margin: 0px !important;
        padding: 20px !important;;
    }

    .features .footer-cont {
        flex-direction: column;
        gap: 20px;
        position: relative;
    }

    .football {
        order: 2;
        flex-direction: column;
        width: 100%;
        gap: 3rem;
        align-items: normal;
    }

    .footer-cont .logo img {
        width: 60px;
        margin-bottom: -40px;
    }

    .features .footer-cont .centers {
        gap: 0.5rem;
        /* order: 3; */
    }

    .footer-cont .right {
        order: 1;
        align-items: flex-end;
        position: absolute;
        right: 0;
    }

    .features .footer-cont .centers p {
        color: #204F3D;
        font-size: 14px;
        margin-bottom: 0.5rem !important;
    }

    .features .footer-cont .centers .footer-top{
        align-items: center;
        justify-content: center;
    }

    /* .footer-top {
        gap: 0.1rem !important;
    } */

    .footer-down {
        text-align: center;
    }

    /* ABOUT */
    .about-container {
        margin-top: 15px;
    }

    .abouts {
        margin-bottom: 15px !important;
    }

    .about-contains .about-cards {
        padding: 0px;
    }

    .about-contains .about-cards h1 {
        font-size: 32px !important;
        text-align: center;
    }

    .about-contains .about-card {
        flex-basis: 100%;
    }

    .headerBtns img {
        width: 100%;
        margin-top: 30px;
    }

    .about-contains4 .about-cards4 h1 {
        font-size: 32px;
        margin-bottom: 0px;
    }

    .about-contains4 .about-cards4 p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .Pic-Court {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .Pic-Court .pic .picture img {
        height: 360px;
    }

    .Pic-Court .pic .pic-text {
        padding: 25px;
    }

    /* COURSE */
    .course-head-Top {
        padding-bottom: 0px;
        margin-top: 50px;
    }

    .course-Court {
        margin-top: 110px;
    }

    .featured .grace {
        margin-bottom: 20px !important  ;
    }

    .courses {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    /* workshop */
    .write-head-Top {
        margin-top: 60px;
    }

    .about-container h1 {
        font-size: 32px;
    }

    .about-container p {
        font-size: 18px;
    }

    .h-autos {
        height: 15vh !important;
    }

    .p-400 {
        padding: 1rem 10px 0 10px !important;
    }

    .p-4 .font-bold {
        font-size: 14px;
    }

    .detailed {
        font-size: 20px !important;
    }

    /* BOOK DETAILS */
    .contd {
        padding: 0px;
    }

    .cards44, .card44 {
        flex-basis: 100%;
        padding: 30px;
    }

    .upload-btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    /* FULL LIBRARY */
    .featured .keys {
        padding: 0px;
    }

    .keys .innerBase {
        width: 100%;
        padding: 20px;
    }

    .keys .innerBase p {
        font-size: 16px;
    }

    .full-white {
        width: 100%;
    }

    .little {
    height: 15vh !important;
    overflow: hidden;
}

    /* COMPITITION */
    .com-head-Top {
        margin-top: 60px;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .com-about .com-text {
        padding: 20px 20px;
    }

    .com-about .com-text h1 {
        font-size: 23px;
    }

    .com-about .com-text p {
        font-size: 18px;
    }

    .compitition {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .featured .base {
        padding: 0px;
        margin-bottom: 0px;
    }

    .base .innerBase {
        padding: 20px;
    }

    .base .innerBase p {
        font-size: 18px;
    }

    /* COMMUNITY SECTION */
    .community {
        height: 70vh;
        min-height: 70vh;
    }

    .comm h1 {
        font-size: 32px;
        text-align: center;
    }

    .comm p {
        font-size: 18px;
    }

    .comm .comm-cards3 {
        margin-top: 120px;
    }

    .comm .comm-card3 img {
        width: 100%;
    }

    .comCheck {
        margin-bottom: 0 !important;
    }

    .featured .based {
        margin: 0px !important;
        padding: 0px !important;;
    }

    .based .innerBase {
        padding: 25px;
    }

    .based .innerBase p {
        font-size: 18px;
    }

    .commers {
        margin: 0px !important;
    }

    .commers .cope {
        padding: 0 !important;;
        margin: 0 !important;
    }

    .featured .bases {
        padding: 0px !important;
    }

    .bases .innerBase {
        width: 100%;
        padding: 20px;
    }

    .bases .innerBase p {
        font-size: 18px;
    }

    /* CONTACTS */
    .contact-head-Top {
        height: 55vh;
        min-height: 55vh;
    }

    .contacts {
        flex-direction: row;
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 20px;
    }

    .ROSE {
        margin-top: 0px !important;
        padding: 6px !important;
        font-size: 12px;
    }

    .ROSE span {
        font-size: 18px !important;
    }

    .contacts2 {
        gap: 20px;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .cardo2 {
        flex-basis: 100% !important;
        padding: 20px !important;
    }

    .card33, .cards33 {
        flex-basis: 100% !important;
        padding: 20px !important;
    }

    /* WRITING */
    .bios {
        justify-content: center;
        gap: 20px;
        font-size: 12px;
        margin-bottom: 45px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .writer4 ol li {
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 13px;
    }

    .loads {
        text-align: center;
    }

    form .notes {
        padding: 8px !important;
        font-size: 12px !important;
    }

    .noter, .cards33 .notes {
        margin-top: -45px;
    }
}


